@{
    ViewData["Title"] = "Filtrado";
    ViewBag.MostrarNavbar = true;
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/filtrado.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="filter-box-advanced active">
        <h2>Filtrar</h2>
        <div class="filter-buttons">
          <a class="filter-button" id="show-all" href='@Url.Action("Filtrar", "Home", new {cond = "Select * from Card"})'>Mostrar Todos</a>
          <div class="filter-accordion">
            <input type="checkbox" id="star-filter">
            <label for="star-filter" class="filter-button">Por Estrellas <i class="fas fa-chevron-down"></i></label>
            <div class="filter-content">
                <button class="filter-button" onclick="Estrellas(1)">1 Estrella</button>
                <button class= "filter-button" onclick="Estrellas(2)">2 Estrellas</button>
                <button class="filter-button" onclick="Estrellas(3)">3 Estrellas</button>
                <button class="filter-button" onclick="Estrellas(4)">4 Estrellas</button>
                <button class="filter-button" onclick="Estrellas(5)">5 Estrellas</button>
            </div>
          </div>
          <a class="filter-button" id="filter-oldest" href='@Url.Action("Filtrar", "Home", new {cond = "WITH RankedCards AS (SELECT *, ROW_NUMBER() OVER (ORDER BY DisLikes DESC) AS RowNum FROM Card) SELECT * FROM RankedCards WHERE RowNum <= 40"})'>Más Dislikes</a>
          <a class="filter-button" id="filter-likes" href='@Url.Action("Filtrar", "Home", new {cond = "WITH RankedCards AS (SELECT *, ROW_NUMBER() OVER (ORDER BY Likes DESC) AS RowNum FROM Card) SELECT * FROM RankedCards WHERE RowNum <= 40"})'>Más Likes</a>



        </div>
      </div>
    <h1>Favoritas</h1>
    <div class="content">
    @foreach(var i in @ViewBag.Cards){
        <div class="card">
            <div class="photo">
                <img src= @i.Portada alt="">
            </div>
            <div class="card-content">
                <div class="title">@i.Titulo</div>
                <div class="icons">
                    <div class="review-button">
                        <a href="reseñas.html">
                            <a class="btnReseñas" href='@Url.Action("Pelicula", "Home", new {pelicula =  @i.IdCard})'>Ver Reseña</a>
                        </a>
                    </div>
                    <div class="stars">
                        @for(int star  = 0; star <CalculateStars(i.Likes, i.DisLikes);star ++) {
                        <i class="star">&#9733;</i>
                    }
                    </div>


                </div>
            </div>
        </div>
       
    }
   
</div>
@functions {
    // Método para calcular la puntuación de estrellas
    double CalculateStars(int likes, int dislikes)
    {
         int totalVotes = likes + dislikes;


        if (totalVotes == 0)
        {
            return 0; // No votes, no stars
        }


        double percentageLikes = (double)likes / totalVotes;
        double stars = percentageLikes * 5;


        return stars;
    }
}
    <script src="/js/filtrado.js"></script>


