@{
    ViewData["Title"] = "Filtrado";
    ViewBag.MostrarNavbar = true;
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/filtrado.css" asp-append-version="true" />
<div class="filter-box-advanced active">
        <h2>Filtrar</h2>
        <div class="filter-buttons">
          <button class="filter-button" id="show-all">Mostrar Todos</button>
          <div class="filter-accordion">
            <input type="checkbox" id="star-filter">
            <label for="star-filter" class="filter-button">Por Estrellas <i class="fas fa-chevron-down"></i></label>
            <div class="filter-content">
                <a class="filter-button">1 Estrella</a>
                <button class= "filter-button">2 Estrellas</button>
                <button class="filter-button">3 Estrellas</button>
                <button class="filter-button">4 Estrellas</button>
                <button class="filter-button">5 Estrellas</button>
            </div>
          </div>
          <button class="filter-button" id="filter-oldest">Más Dislikes</button>
          <button class="filter-button" id="filter-likes">Más Likes</button>
        </div>
      </div>
    <h1>Favoritas</h1>
    <div class="content">
    @foreach(var i in @ViewBag.Cards){
        <div class="card">
            <div class="photo">
                <img src= @i.Portada alt="">
            </div>
            <div class="card-content">
                <div class="title">@i.Titulo</div>
                <div class="icons">
                    <div class="review-button">
                        <a href="reseñas.html">
                            <a class="btnReseñas" href='@Url.Action("Pelicula", "Home", new {pelicula =  @i.IdCard})'>Ver Reseña</a>
                        </a>
                    </div>
                    <div class="stars">
                        @for(int star  = 0; star <CalculateStars(i.Likes, i.DisLikes);star ++) {
                        <i class="star">&#9733;</i>
                    }
                    </div>

                </div>
            </div>
        </div>
        
    }
    
</div>
@functions {
    // Método para calcular la puntuación de estrellas
    double CalculateStars(int likes, int dislikes)
    {
         int totalVotes = likes + dislikes;

        if (totalVotes == 0)
        {
            return 0; // No votes, no stars
        }

        double percentageLikes = (double)likes / totalVotes;
        double stars = percentageLikes * 5;

        return stars;
    }
}
