@{
    ViewData["Title"] = "Home Page";
    ViewBag.MostrarNavbar = true;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<title>Inicio</title>
<h1>Explora el Mundo del Cine</h1>
    @if(@ViewBag.Usuario.UserName != "") {
        @if(@ViewBag.Usuario.admin == true) {
        <a class="agregar" href='@Url.Action("Agregar", "Home")'>Agregar Pelicula</a>
        }
    }
<div class="content">
    @foreach(var i in @ViewBag.Cards){
        <div class="card">
            <div class="photo">
                <img src= @i.Portada alt="">
            </div>
            <div class="card-content">
                <div class="title">@i.Titulo</div>
                <div class="icons">
                    <div class="review-button">
                        <a href="reseñas.html">
                            <a class="btnReseñas" href='@Url.Action("Pelicula", "Home", new {pelicula =  @i.IdCard})'>Ver Reseña</a>
                        </a>
                    </div>
                    <div class="stars">
                        @for(int star  = 0; star <CalculateStars(i.Likes, i.DisLikes);star ++) {
                        <i class="star">&#9733;</i>
                    }
                    </div>

                </div>
            </div>
        </div>
        
    }
    
</div>

@functions {
    // Método para calcular la puntuación de estrellas
    double CalculateStars(int likes, int dislikes)
    {
         int totalVotes = likes + dislikes;

        if (totalVotes == 0)
        {
            return 0; // No votes, no stars
        }

        double percentageLikes = (double)likes / totalVotes;
        double stars = percentageLikes * 5;

        return stars;
    }
}