@{
    ViewData["Title"] = "Pelicula";
    ViewBag.MostrarNavbar = true;
}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="~/css/pelicula.css" asp-append-version="true" />

<div class="content">
        <div class="photo-container">
            <div class="photo"><img src=@ViewBag.Card.Portada alt=""></div>
            <div class="image-below">
                <div class="titulo">
                    <h1>@ViewBag.Card.Titulo</h1>
                </div>
            </div>
        </div>
        <div class="texto">
            <div class="title">
                <h1>DESCRIPCIÓN</h1>
            </div>
            <div class="descripcion">
                <p>@ViewBag.Card.Descripcion</p>
            </div>
        </div>
    </div>

        <div class="resena">
            <div class="titlo">
                <h1>RESEÑAS</h1>
            </div>
            <form method="post" action='@Url.Action("EnviarReseña","Home")' id="formReseñas" style="display: flex; flexDirection: column;">
              <input type="text" placeholder="Escribir Reseñas" name="texto">
              <input type="hidden" name="idUsuario" value=@ViewBag.Usuario.IdUsuario>
              <input type="hidden" name="idPelicula" value=@ViewBag.Card.IdCard>
              <input type="hidden" name="nombreUsuario" value=@ViewBag.Usuario.UserName>
              <input type="hidden" name="nombrePelicula" value= "@ViewBag.Card.Titulo">
              <button type="submit">Enviar</button>
            </form>
            
        </div>

        <div class="cards">
             @foreach(var i in @ViewBag.Reseñas) {
              <div class="card">
              <div class="card-content">
                <h3>@i.NombreUsuario</h3>
                <p>@i.ReseñaTxt</p>
              </div>
              </div>
        }
          </div>
       


