@{
    ViewData["Title"] = "Perfil";
    ViewBag.MostrarNavbar = true;
}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <link rel="stylesheet" href="~/css/perfil.css" asp-append-version="true" />
    <span style="display:none;" id="username" class="user">@ViewBag.Usuario.UserName</span>
    <div class="profile">
        <img src="https://static.vecteezy.com/system/resources/previews/019/879/198/original/user-icon-on-transparent-background-free-png.png" alt="">
        <h1>@ViewBag.Usuario.Nombre @ViewBag.Usuario.Apellido</h1>
        <a class="logout-button" href='@Url.Action("Cerrar", "Home")'>CERRAR SESIÓN</a>
    </div>




    <div class="content">
        <div class="reviews">
            <h1>RESEÑAS</h1>
            @foreach(var review in ViewBag.Reseñas) {
                <div class="movie-review">
                    <h2>@review.NombrePelicula</h2>
                    <p>@review.ReseñaTxt</p>
                </div>
            }
        </div>




        <div class="details">
            <div class="personal">  
            <div class="datosPart">
            <span style="display:none" class="dato">PaisOrigen</span>
            <h1>Pais de origen</h1>
            <h2>@ViewBag.Usuario.PaisOrigen</h2>
            </div>
            <button class="button">EDITAR</button>
        </div>




            <div class="personal">  
            <div class="datosPart">
            <span style="display:none" class="dato">PeliculaFavorita</span>
            <h1>Pelicula Favorita</h1>
            <h2>@ViewBag.Usuario.PeliculaFavorita</h2>
            </div>
            <button class="button">EDITAR</button>
        </div>




            <div class="personal">  
            <div class="datosPart">
            <span style="display:none" class="dato">Idioma</span>
            <h1>Idioma</h1>
            <h2>@ViewBag.Usuario.Idioma</h2>
            </div>
            <button class="button">EDITAR</button>
        </div>
        </div>
    </div>


    <script src="/js/perfil.js"></script>